/* Sidebar.css */

.sidebar {
    width: 250px !important;
    height: 100vh;
    background-color: #2C3E50;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.sidebar .fanci-logo {
    font-size: 34px;
    font-weight: bold;
    color: #00ccff;
    margin-bottom: 30px;
}

.sidebar-item {
    width: 100%;
    padding: 15px 20px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar-icon {
    width: 50px !important; /* Tamaño ajustado */
    height: 50px !important ; /* Tamaño ajustado */
    margin-bottom: 10px;
    margin-left: 20px;
}

.sidebar-item img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.sidebar-item:hover {
    background-color: #34495E;
}

/* Individual item styles */
.fanci-create-item {
    background-color: #ffffff;
    color: #000000 !important;
}

.fanci-dashboard-item {
    background-color: #ffffff;
    color: #000000 !important;

}

.fanci-procesos-item {
    background-color: #ffffff;
    color: #000000 !important;

}

.fanci-organizacion-item {
    background-color: #ffffff;
    color: #000000 !important;

}

.sidebar-item.fanci-create-item:hover {
    background-color: #3498DB;
   color: #ffffff;
   transition: 0.8s;
}

.sidebar-item.fanci-dashboard-item:hover {
    background-color: #3498DB;
    color: #ffffff;
    transition: 0.8s;

}

.sidebar-item.fanci-procesos-item:hover {
    background-color: #3498DB;
    color: #ffffff;
    transition: 0.8s;

}

.sidebar-item.fanci-organizacion-item:hover {
    background-color: #3498DB;
    color: #ffffff;
    transition: 0.8s;

}
